.home-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Verdana', sans-serif;
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .logos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .tech-logo {
    width: 100px;
    height: auto;
    margin: 10px;
  }